.topnav {
    background-color: #333;
    overflow: hidden;
}
.topnav #logo {
    color: #ffffff;
}
.topnav li {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    list-style: none;
}
.topnav li:hover {
    background-color: #ddd;
    color: black;
}
.topnav li.active {
    background-color: #4caf50;
    color: white;
}
.github{
    margin: 0;
    padding: 0;
}
.topnav a{
   float: right;
    margin: 0;
    padding: 0;
}
.topnav img{
    height: 50px;
}