.search {
    margin: 30px;
    text-align: center;
  }
  .search_box {
    width: 250px;
    height: 35px;
    border-radius: 5px;
  }
  .search_box:hover{
    box-shadow: 1px 1px 1px 1px gray;
  }
  .search_btn {
    width: 60px;
    height: 35px;
    text-align: center;
  }